.courses{
    margin: 2rem;
}
.courses>h2{
    padding-top: 2rem;
    padding-bottom:1rem ;
}
.card{
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: var(--black)
}
.card>.card-main{
    position: relative;
    cursor: pointer;
    border-radius: 1.5rem;
    height: 10rem;
    perspective: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card>.card-main:hover>.main{
    transform: rotateY(180deg);
    opacity: 0;
}
.card>.card-main>.desciption{
    transform: rotateY(180deg);
    opacity: 0;
    padding: 1rem;
    color:var(--light)
}
.card>.card-main:hover>.desciption {
    transition: all .3s linear;
    transform: rotateY(360deg);
    opacity: 1;
}
.card>.card-main>.desciption{
    position: absolute;
    text-indent: 1em;
}
.card>.card-main>.main{
    line-height: 1.5rem;
    position: absolute;
    transition: all .3s linear;
    margin-top:0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 3rem;
    font-weight: 900;
}
.card>.card-main>.main>span>i{
    color: var(--yellow);
    font-size: .8rem;
}
.card>.card-main>.main>span>span{
    color: var(--white);
    font-size: 1rem;
}
.card>.name{
    font-size: 1.25rem;
    padding-top: .5rem;
    font-weight: 600;
}
.card .price{
    padding-top: .5rem;
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}